<hr/>

## L'interpreteur, le signe "="

Le signe √©gale permet d'effectuer une op√©ration _d'assignation_. Le r√©sultat de l'op√©ration √† droite du signe `=` est attribu√© √† la **variable** √† gauche, qui est ensuite conserv√©e en m√©moire (dans la m√©moire vive de l'interpr√©teur).

In [1]:
import ipywidgets as widgets

In [3]:
f = widgets.FileUpload()

In [4]:
f

FileUpload(value={}, description='Upload')

In [3]:
brut = 2543.0

In [4]:
net = brut * 0.71
CSG = net * 0.12

In [ ]:
temp = -4
temp = abs(temp)

#### Python comme calculatrice

In [5]:
3**2

9

In [6]:
4 / 5

0.8

In [7]:
4 // 5

0

In [9]:
4 % 5

4

## Deux fonctions `print` et `type`

In [11]:
print('Hello', 'World')

Hello World

In [13]:
type('res')

str

## Les types de donn√©es

### Les nombres

Il y a deux types de nombres, `int` et `float` pour repr√©senter respectivement les entiers et les nombres "r√©els", aussi appel√©s "√† virgule flottante", comme `2.78`. En Python, le marqueur de d√©cimales est not√© par un point.

In [16]:
1234**102

2061324139235309469485970359631966072892170425313269850479874637216266156953995445493471324851657448561065704267282232040305317763570209736637688624059582093213441222057621752710738736445290796286765658945671198314500016442896473645529479801459296672065539042311692053094153518377083746218628146104339923855271264256

5000000000000001.0

### Les cha√Ænes de caract√®re

- Repr√©senter du texte, tout type de texte ¬´üòÅ¬ª par exemple

- Dans python 3, ¬´cha√Æne de caract√®re¬ª veut dire UTF-8 
  (plus sur l'encodage plus tard).

In [25]:
"Guillaume", 'Guillaume'
"Hello I'm here"
# 'Hello I'm here'
"""
Ceci est une longue cha√Æne de caract√®res
Elle contient "des guillemets" et d'autres caract√®res
üòÅ
"""

'\nCeci est une longue cha√Æne de caract√®res\nElle contient "des guillemets" et d\'autres caract√®res\nüòÅ\n'

### Les bool√©ens

Seulement deux valeurs, vrai ou faux `True` ou `False` (avec une majuscule). Un objet peut √™tre vrai ou faux, une cha√Æne ou une liste vide sont fausses par exemple.

In [30]:
print((True and False) or (True or False))
print(1 > 2)
print(1 <= 2)
print(2 == 2)
3 + 4 > 2

True
False
True
True

True

### `None`

C'est la valeur de l'absence de valeur.

In [32]:
None
a = print('Hello')
type(a)

Hello

NoneType

In [33]:
tmp = None

In [36]:
type(object)

type

In [34]:
type(type)

type

## Les diff√©rentes collections d'objets

### Les tuplets

Repr√©sente une collection d'objets divers, entre parenth√®ses. Une fois cr√©√©, cette collection contient toujours les m√™mes objets et ne peux pas grossir, on ne peut pas √©changer un objet pour un autre, on ne peut pas changer leur ordre. `tuple` comme doublet, triplet, quintuplet.

- Comment y acc√©der? Les indices.

- Le d√©paquetage

In [48]:
artist = ("John", "Coltrane", "Saxophone", 1954)

In [38]:
len(artist)

4

In [45]:
instrument = artist[2]

In [46]:
firstname, lastname, instrument_, year = artist

In [42]:
print(year)

1952

In [47]:
artist[3] = 1954

TypeError: 'tuple' object does not support item assignment

### Les listes

Aussi une collection d'objets mais dont on peut changer la taille, que l'on peut ranger, et dont on peut changer les √©l√©ments.

- Les indices (continued) et les 'tranches' d'indice

- Les m√©thodes et attributs associ√©es √† un objet

In [49]:
sales = [12, 34, 23, 45, 232, 545, 5, 2343, 12, 32]
sales[5]

545

In [50]:
sales[2:6]

[23, 45, 232, 545]

In [51]:
sales[:6]

[12, 34, 23, 45, 232, 545]

In [54]:
sales[:6] + sales[6:]

[12, 34, 23, 45, 232, 545, 5, 2343, 12, 32]

In [56]:
sales[-2]

12

In [57]:
sales[1:9:2]

[34, 45, 545, 2343]

In [66]:
sales[::]

[12, 34, 23, 45, 232, 10000, 5, 2343, 12, 32]

In [64]:
sales[100]

IndexError: list index out of range

In [65]:
sales[5] = 10000

In [67]:
sales

[12, 34, 23, 45, 232, 10000, 5, 2343, 12, 32]

In [88]:
sales[2:] = [3, 7, 23, 23, 11, 1212]

In [89]:
sales

[12, 34, 3, 7, 23, 23, 11, 1212]

In [90]:
sales.append(100)

In [97]:
sales.pop()

'aezr'

In [99]:
sales

[3, 7, 11, 12, 23, 23, 34, 100, 1212]

In [104]:
artist = list(artist)

In [105]:
artist

['John', 'Coltrane', 'Saxophone', 1954]

In [106]:
artist = tuple(artist)

In [107]:
artist

('John', 'Coltrane', 'Saxophone', 1954)

In [101]:
sales.append('1')

In [103]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [102]:
sales.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [93]:
sales

[3, 7, 11, 12, 23, 23, 34, 100, 1212]

### Les ensembles (`set`) et dictionnaires

#### Les sets

- Un ensemble de valeurs uniques. Tr√©s efficaces pour les op√©ration ensemblistes (inclusion, union, diff√©rence).


#### Les dictionnaires

- Sans doute la structure la plus commun√©ment employ√©e dans Python. On peut tout faire avec des dictionnaires.
- Paires clefs valeurs (on garde l'ordre d'insertion)

In [111]:
group = {0, 1, 2, 3, 4, 5, 5, 4}

In [109]:
type(group)

set

In [112]:
group

{0, 1, 2, 3, 4, 5}

In [113]:
group.difference({4, 5})

{0, 1, 2, 3}

In [127]:
firstname = [36, 12] # nope
firstname = (36, 12)

artist = {
    "firstname": "John",
    "lastname": "Coltrane",
    "instrument": "Sax",
    "year": 1952
}

artist["year"]

1952

In [124]:
artist[(36, 12)]

'John'

In [128]:
artist

{'firstname': 'John',
 'lastname': 'Coltrane',
 'instrument': 'Sax',
 'year': 1952}

In [129]:
artiste_t = ('John', 'Coltrane')

In [130]:
print('artiste: ', artiste_t[0], artiste_t[1] )

artiste:  John Coltrane

In [132]:
print('artiste: ', artist["firstname"], artist["lastname"] )

artiste:  John Coltrane

In [133]:
artist['year'] = 1967

In [134]:
artist['town'] = "New York"

In [135]:
artist

{'firstname': 'John',
 'lastname': 'Coltrane',
 'instrument': 'Sax',
 'year': 1967,
 'town': 'New York'}

In [120]:
num = 36

In [121]:
artist[num]

'John'

In [ ]:
print()

### Les structures de contr√¥le

* Les boucles `for` et `while`, les mots clefs `break` et `continue`.

![Illustration d'une boucle for](loop.svg)

In [147]:
sales.append('res')

In [157]:
n = 0
n = n + 1

'1'

In [ ]:
sales = [12, 32, 3, 4, 1323, 34, 23]

In [ ]:
tvas = []
for number in sales:
    if not isinstance(number, int):
        print(number, 'is not a number')
        continue
        #break
    tvas.append(number*0.2)
    print('I am not executed with continue')

In [158]:
for number in sales:
    if isinstance(number, int):
        print(number, 'is a number')
    else:
        print(number, 'is not a number')
        continue
        #break
    
    print('I am not executed with continue')

3 is a number
I am not executed with continue
7 is a number
I am not executed with continue
11 is a number
I am not executed with continue
12 is a number
I am not executed with continue
23 is a number
I am not executed with continue
23 is a number
I am not executed with continue
34 is a number
I am not executed with continue
100 is a number
I am not executed with continue
1212 is a number
I am not executed with continue
1 is not a number
res is not a number

In [152]:
sales

[3, 7, 11, 12, 23, 23, 34, 100, 1212, '1', 'res']

In [166]:
i = 0
while i < 8:
    print(i)
    i += 1
    if i > 10:
        break
else:
    print("I didn't find a number higher than 10")

0
1
2
3
4
5
6
7
I didn't find a number higher than 10

In [ ]:
num_tries = 0

while num_tries < 1000:
    response = connect_to_site()
    if response == 404:
        num_tries += 1
    else:
        break
else:
    print("Max number of connection attempts")

In [149]:
print(number)

res

* Les tests `if`, `elif` et `else`

* le test `else` √† la sortie d'une boucle.

In [143]:
if 3 < 2:
    print('Yes')
    bad_var = 12
    print("still")
elif 4 > 2:
    print('Elif')
else:
    print('Else')
    bad_var = None
    
print('Out')
print(bad_var)

Elif
Out
None

<hr/>

### Les s√©quences, deuxi√®me √©pisode

C'est une des particularit√©s du langage, la fa√ßon de parcourir une s√©quence. La notion d'*iterable* en Python: il suffit de demander

In [168]:
for i in range(4, 10, 2):
    print(i)

4
6
8

In [173]:
counter = range(12)

In [174]:
for i in counter:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [176]:
artist

{'firstname': 'John',
 'lastname': 'Coltrane',
 'instrument': 'Sax',
 'year': 1967,
 'town': 'New York'}

In [180]:
for key in artist.keys():
    print(key)

firstname
lastname
instrument
year
town

In [178]:
for key in artist:
    print(key)

firstname
lastname
instrument
year
town

In [179]:
for val in artist.values():
    print(val)

John
Coltrane
Sax
1967
New York

In [181]:
for item in artist.items():
    print(item)

('firstname', 'John')
('lastname', 'Coltrane')
('instrument', 'Sax')
('year', 1967)
('town', 'New York')

In [181]:
for item in artist.items():
    print(item)
    key, val = item

('firstname', 'John')
('lastname', 'Coltrane')
('instrument', 'Sax')
('year', 1967)
('town', 'New York')

In [182]:
for key, val in artist.items():
    print("key", key, "value", val)

key firstname value John
key lastname value Coltrane
key instrument value Sax
key year value 1967
key town value New York

In [185]:
for l in 'Bonjour √† tous':
    print(l)

B
o
n
j
o
u
r

√†

t
o
u
s

In [186]:
"Word"[-3:]

'ord'

In [190]:
for elem in ("hello", [23, 34, 54, 89], "qeqze"):
    print(elem)

hello
[23, 34, 54, 89]
qeqze

In [196]:
for a, b, c in zip("hello", [23, 34, 54, 89], "qeqze"):
    print(a, b, c)

h 23 q
e 34 e
l 54 q
l 89 z

In [193]:
ltrs = {}
for i, letter in enumerate("Test test"):
    ltrs[i] = letter
    print(i, letter)

0 T
1 e
2 s
3 t
4
5 t
6 e
7 s
8 t

In [194]:
ltrs

{0: 'T', 1: 'e', 2: 's', 3: 't', 4: ' ', 5: 't', 6: 'e', 7: 's', 8: 't'}


`zip` et `enumerate`

In [203]:
num = 12.23744
print('%.2f' % num)

12.24

In [198]:
sales = sales[:-2]

In [199]:
sales

[3, 7, 11, 12, 23, 23, 34, 100, 1212]

In [207]:
tvas = []
for val in sales:
    tvas.append(val*0.2)
    
print(tvas)

[0.6000000000000001, 1.4000000000000001, 2.2, 2.4000000000000004, 4.6000000000000005, 4.6000000000000005, 6.800000000000001, 20.0, 242.4]

In [205]:
tvas

[0.6000000000000001,
 1.4000000000000001,
 2.2,
 2.4000000000000004,
 4.6000000000000005,
 4.6000000000000005,
 6.800000000000001,
 20.0,
 242.4]



#### Notions avanc√©es:

* Les constructions par compr√©hension. **very pythonic**

* Embalage et d√©sembalage, notation en √©toile.

In [208]:
tvas = [val*0.2 for val in sales]
tvas

[0.6000000000000001,
 1.4000000000000001,
 2.2,
 2.4000000000000004,
 4.6000000000000005,
 4.6000000000000005,
 6.800000000000001,
 20.0,
 242.4]

In [209]:
artist

{'firstname': 'John',
 'lastname': 'Coltrane',
 'instrument': 'Sax',
 'year': 1967,
 'town': 'New York'}

In [211]:
artist_r = {v:k for k, v in artist.items()}

In [212]:
artist_r['John']

'firstname'

In [213]:
artist_r

{'John': 'firstname',
 'Coltrane': 'lastname',
 'Sax': 'instrument',
 1967: 'year',
 'New York': 'town'}

In [223]:
artist

{'firstname': 'John',
 'lastname': 'Coltrane',
 'instrument': 'Sax',
 'year': 1967,
 'town': 'New York'}

### Les cha√Ænes de caract√®res - bis

* Probl√®mes d'encodage, comment rester en unicode.

* Les diff√©rentes fa√ßons de formater une cha√Æne de caract√®res, les `fstrings`.

In [217]:
firstname = 'John'
age = 67
weight = 63.0567

greeting = "Hello "+firstname+", you are "+str(age)+" years old "

In [218]:
print(greeting)

Hello John, you are 67 years old

In [221]:
greeting = f"Hello {firstname}, you are {age} years old, and you weight {weight:.2f} kgs"

In [222]:
greeting

'Hello John, you are 67 years old, and you weight 63.06 kgs'

## https://www.pythoncheatsheet.org/